In [1]:
import numpy as np
import pandas as pd
import scanpy as sc

In [ ]:
sc.settings.verbosity = 3             # verbosity: errors (0), warnings (1), info (2), hints (3)
sc.logging.print_header()
sc.settings.set_figure_params(dpi=80, facecolor='white')

In [3]:
pd.read_csv(r'C:\Users\kvdiv\OneDrive\Desktop\Mini project\E-MTAB-10026.processed.2/TCR_merged_Updated.tsv', sep='\t')

C:\Users\kvdiv\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (38,39,40) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CellID,Centre,barcode,is_cell,contig_id,high_confidence,length,chain,v_gene,d_gene,...,Days_from_onset,time_after_LPS,Worst_Clinical_Status,Outcome,leiden,consensus,initial_clustering,study_id,AgeRange,Age
0,AAACCTGAGAAACCTA-MH9179824,Newcastle,AAACCTGAGAAACCTA-1,True,AAACCTGAGAAACCTA-1_contig_2,True,512,TRB,TRBV5-1,None,...,8,NaN,Moderate,Home,26,CD8,CD8,COVID-014,"(50, 59]",54
1,AAACCTGAGAAACCTA-MH9179824,Newcastle,AAACCTGAGAAACCTA-1,True,AAACCTGAGAAACCTA-1_contig_1,True,573,TRA,TRAV8-4,None,...,8,NaN,Moderate,Home,26,CD8,CD8,COVID-014,"(50, 59]",54
2,AAACCTGAGAACAATC-MH9143324,Newcastle,AAACCTGAGAACAATC-1,True,AAACCTGAGAACAATC-1_contig_1,True,635,TRB,TRBV19,None,...,16,NaN,Moderate,Home,25,gdT,gdT,COVID-029,"(20, 29]",26
3,AAACCTGAGAACTCGG-MH8919329,Newcastle,AAACCTGAGAACTCGG-1,True,AAACCTGAGAACTCGG-1_contig_1,True,499,TRA,TRAV34,None,...,5,NaN,Death,Death,23,Treg,Treg,COVID-045,"(70, 79]",77
4,AAACCTGAGAACTCGG-MH8919329,Newcastle,AAACCTGAGAACTCGG-1,True,AAACCTGAGAACTCGG-1_contig_2,True,496,TRB,TRBV5-1,None,...,5,NaN,Death,Death,23,Treg,Treg,COVID-045,"(70, 79]",77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547625,TTTGTCATCTTGCAAG-MH9143327,Newcastle,TTTGTCATCTTGCAAG-1,True,TTTGTCATCTTGCAAG-1_contig_2,True,486,TRB,TRBV4-1,None,...,8,NaN,Moderate,Home,19,CD8,CD8,COVID-062,"(50, 59]",52
547626,TTTGTCATCTTGCAAG-MH9143327,Newcastle,TTTGTCATCTTGCAAG-1,True,TTTGTCATCTTGCAAG-1_contig_1,True,529,TRA,TRAV14/DV4,None,...,8,NaN,Moderate,Home,19,CD8,CD8,COVID-062,"(50, 59]",52
547627,TTTGTCATCTTTAGTC-MH8919332,Newcastle,TTTGTCATCTTTAGTC-1,True,TTTGTCATCTTTAGTC-1_contig_1,True,605,TRA,TRAV12-1,None,...,Healthy,NaN,Healthy,Home,8,CD4,CD4,COVID-067,"(30, 39]",39
547628,TTTGTCATCTTTAGTC-MH8919332,Newcastle,TTTGTCATCTTTAGTC-1,True,TTTGTCATCTTTAGTC-1_contig_2,True,512,TRB,TRBV11-3,None,...,Healthy,NaN,Healthy,Home,8,CD4,CD4,COVID-067,"(30, 39]",39
547629,TTTGTCATCTTTAGTC-MH8919332,Newcastle,TTTGTCATCTTTAGTC-1,True,TTTGTCATCTTTAGTC-1_contig_3,True,654,TRB,TRBV19,None,...,Healthy,NaN,Healthy,Home,8,CD4,CD4,COVID-067,"(30, 39]",39

In [4]:
#results_file = 'write/pbmc3k.h5ad'  # the file that will store the analysis results

In [5]:
#path = r'C:\Users\kvdiv\OneDrive\Desktop\Mini project\E-MTAB-10026.processed.2/tsv_file.csv'
adata =pd.read_csv(r'C:\Users\kvdiv\OneDrive\Desktop\Mini project\E-MTAB-10026.processed.2/tsv_file.csv')

C:\Users\kvdiv\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (39,40,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
adata

,Unnamed: 0,CellID,Centre,barcode,is_cell,contig_id,high_confidence,length,chain,v_gene,...,Days_from_onset,time_after_LPS,Worst_Clinical_Status,Outcome,leiden,consensus,initial_clustering,study_id,AgeRange,Age
0,0,AAACCTGAGAAACCTA-MH9179824,Newcastle,AAACCTGAGAAACCTA-1,True,AAACCTGAGAAACCTA-1_contig_2,True,512,TRB,TRBV5-1,...,8,NaN,Moderate,Home,26,CD8,CD8,COVID-014,"(50, 59]",54
1,1,AAACCTGAGAAACCTA-MH9179824,Newcastle,AAACCTGAGAAACCTA-1,True,AAACCTGAGAAACCTA-1_contig_1,True,573,TRA,TRAV8-4,...,8,NaN,Moderate,Home,26,CD8,CD8,COVID-014,"(50, 59]",54
2,2,AAACCTGAGAACAATC-MH9143324,Newcastle,AAACCTGAGAACAATC-1,True,AAACCTGAGAACAATC-1_contig_1,True,635,TRB,TRBV19,...,16,NaN,Moderate,Home,25,gdT,gdT,COVID-029,"(20, 29]",26
3,3,AAACCTGAGAACTCGG-MH8919329,Newcastle,AAACCTGAGAACTCGG-1,True,AAACCTGAGAACTCGG-1_contig_1,True,499,TRA,TRAV34,...,5,NaN,Death,Death,23,Treg,Treg,COVID-045,"(70, 79]",77
4,4,AAACCTGAGAACTCGG-MH8919329,Newcastle,AAACCTGAGAACTCGG-1,True,AAACCTGAGAACTCGG-1_contig_2,True,496,TRB,TRBV5-1,...,5,NaN,Death,Death,23,Treg,Treg,COVID-045,"(70, 79]",77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547625,547625,TTTGTCATCTTGCAAG-MH9143327,Newcastle,TTTGTCATCTTGCAAG-1,True,TTTGTCATCTTGCAAG-1_contig_2,True,486,TRB,TRBV4-1,...,8,NaN,Moderate,Home,19,CD8,CD8,COVID-062,"(50, 59]",52
547626,547626,TTTGTCATCTTGCAAG-MH9143327,Newcastle,TTTGTCATCTTGCAAG-1,True,TTTGTCATCTTGCAAG-1_contig_1,True,529,TRA,TRAV14/DV4,...,8,NaN,Moderate,Home,19,CD8,CD8,COVID-062,"(50, 59]",52
547627,547627,TTTGTCATCTTTAGTC-MH8919332,Newcastle,TTTGTCATCTTTAGTC-1,True,TTTGTCATCTTTAGTC-1_contig_1,True,605,TRA,TRAV12-1,...,Healthy,NaN,Healthy,Home,8,CD4,CD4,COVID-067,"(30, 39]",39
547628,547628,TTTGTCATCTTTAGTC-MH8919332,Newcastle,TTTGTCATCTTTAGTC-1,True,TTTGTCATCTTTAGTC-1_contig_2,True,512,TRB,TRBV11-3,...,Healthy,NaN,Healthy,Home,8,CD4,CD4,COVID-067,"(30, 39]",39
547629,547629,TTTGTCATCTTTAGTC-MH8919332,Newcastle,TTTGTCATCTTTAGTC-1,True,TTTGTCATCTTTAGTC-1_contig_3,True,654,TRB,TRBV19,...,Healthy,NaN,Healthy,Home,8,CD4,CD4,COVID-067,"(30, 39]",39

In [7]:
''''adata = sc.read_10x_mtx(
    'data/filtered_gene_bc_matrices/hg19/',  # the directory with the `.mtx` file
    var_names='gene_symbols',                # use gene symbols for the variable names (variables-axis index)
    cache=True)   '''                           # write a cache file for faster subsequent reading

"'adata = sc.read_10x_mtx(\n    'data/filtered_gene_bc_matrices/hg19/',  # the directory with the `.mtx` file\n    var_names='gene_symbols',                # use gene symbols for the variable names (variables-axis index)\n    cache=True)   "

In [8]:
adata.shape

(547630, 49)

In [11]:
adata.columns

Index(['Unnamed: 0', 'CellID', 'Centre', 'barcode', 'is_cell', 'contig_id',
       'high_confidence', 'length', 'chain', 'v_gene', 'd_gene', 'j_gene',
       'c_gene', 'full_length', 'productive', 'cdr3', 'cdr3_nt', 'reads',
       'umis', 'raw_clonotype_id', 'raw_consensus_id', 'Sample', 'Good.Cell',
       'Is.Tcell', 'Keep.Cell', 'sample_id', 'cells', 'Site', 'doublet',
       'patient_id', 'batch', 'Resample', 'Collection_Day', 'Sex',
       'Swab_result', 'Status', 'Smoker', 'Status_on_day_collection',
       'Status_on_day_collection_summary', 'Days_from_onset', 'time_after_LPS',
       'Worst_Clinical_Status', 'Outcome', 'leiden', 'consensus',
       'initial_clustering', 'study_id', 'AgeRange', 'Age'],
      dtype='object')

Pre-Processing

In [12]:
adata.head()

,Unnamed: 0,CellID,Centre,barcode,is_cell,contig_id,high_confidence,length,chain,v_gene,...,Days_from_onset,time_after_LPS,Worst_Clinical_Status,Outcome,leiden,consensus,initial_clustering,study_id,AgeRange,Age
0,0,AAACCTGAGAAACCTA-MH9179824,Newcastle,AAACCTGAGAAACCTA-1,True,AAACCTGAGAAACCTA-1_contig_2,True,512,TRB,TRBV5-1,...,8,NaN,Moderate,Home,26,CD8,CD8,COVID-014,"(50, 59]",54
1,1,AAACCTGAGAAACCTA-MH9179824,Newcastle,AAACCTGAGAAACCTA-1,True,AAACCTGAGAAACCTA-1_contig_1,True,573,TRA,TRAV8-4,...,8,NaN,Moderate,Home,26,CD8,CD8,COVID-014,"(50, 59]",54
2,2,AAACCTGAGAACAATC-MH9143324,Newcastle,AAACCTGAGAACAATC-1,True,AAACCTGAGAACAATC-1_contig_1,True,635,TRB,TRBV19,...,16,NaN,Moderate,Home,25,gdT,gdT,COVID-029,"(20, 29]",26
3,3,AAACCTGAGAACTCGG-MH8919329,Newcastle,AAACCTGAGAACTCGG-1,True,AAACCTGAGAACTCGG-1_contig_1,True,499,TRA,TRAV34,...,5,NaN,Death,Death,23,Treg,Treg,COVID-045,"(70, 79]",77
4,4,AAACCTGAGAACTCGG-MH8919329,Newcastle,AAACCTGAGAACTCGG-1,True,AAACCTGAGAACTCGG-1_contig_2,True,496,TRB,TRBV5-1,...,5,NaN,Death,Death,23,Treg,Treg,COVID-045,"(70, 79]",77

In [15]:
target = adata['Worst_Clinical_Status']

In [16]:
target.value_counts()

Moderate        131445
Healthy         112166
Mild             70576
Asymptomatic     42190
Critical         41630
Severe           26653
Death            25411
LPS              15917
Non-covid        10641
Name: Worst_Clinical_Status, dtype: int64

In [18]:
adata.value_counts('chain')

chain
TRB      287314
TRA      260177
Multi       139
dtype: int64

In [19]:
df = adata[['length', 'chain', 'v_gene', 'd_gene', 'j_gene',
       'c_gene', 'Sample' ]]

In [20]:
df

        length chain      v_gene d_gene   j_gene c_gene     Sample
0          512   TRB     TRBV5-1   None  TRBJ2-3  TRBC2  MH9179824
1          573   TRA     TRAV8-4   None   TRAJ31   TRAC  MH9179824
2          635   TRB      TRBV19   None  TRBJ1-5  TRBC1  MH9143324
3          499   TRA      TRAV34   None   TRAJ30   TRAC  MH8919329
4          496   TRB     TRBV5-1   None  TRBJ2-5  TRBC2  MH8919329
...        ...   ...         ...    ...      ...    ...        ...
547625     486   TRB     TRBV4-1   None  TRBJ2-7  TRBC2  MH9143327
547626     529   TRA  TRAV14/DV4   None   TRAJ23   TRAC  MH9143327
547627     605   TRA    TRAV12-1   None    TRAJ9   TRAC  MH8919332
547628     512   TRB    TRBV11-3   None  TRBJ1-2  TRBC1  MH8919332
547629     654   TRB      TRBV19   None  TRBJ2-5  TRBC2  MH8919332

[547630 rows x 7 columns]

In [21]:
df.dtypes

length     int64
chain     object
v_gene    object
d_gene    object
j_gene    object
c_gene    object
Sample    object
dtype: object

In [22]:
df_dummy = pd.get_dummies(df)

In [23]:
df_dummy.head()

,length,chain_Multi,chain_TRA,chain_TRB,v_gene_TRAV1-1,v_gene_TRAV1-2,v_gene_TRAV10,v_gene_TRAV12-1,v_gene_TRAV12-2,v_gene_TRAV12-3,...,Sample_MH9143425,Sample_MH9143426,Sample_MH9143427,Sample_MH9179821,Sample_MH9179822,Sample_MH9179823,Sample_MH9179824,Sample_MH9179825,Sample_MH9179826,Sample_MH9179827
0,512,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,573,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,635,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,499,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,496,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
adata.raw = adata

<ipython-input-24-17e53f36fb2b>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  adata.raw = adata

In [26]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()

df_dummy[['length']] = mms.fit_transform(df_dummy[['length']])

In [27]:
df_dummy.head()

,length,chain_Multi,chain_TRA,chain_TRB,v_gene_TRAV1-1,v_gene_TRAV1-2,v_gene_TRAV10,v_gene_TRAV12-1,v_gene_TRAV12-2,v_gene_TRAV12-3,...,Sample_MH9143425,Sample_MH9143426,Sample_MH9143427,Sample_MH9179821,Sample_MH9179822,Sample_MH9179823,Sample_MH9179824,Sample_MH9179825,Sample_MH9179826,Sample_MH9179827
0,0.107582,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0.170082,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0.233607,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.094262,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.091189,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df.isnull().sum().sum()

0

Principal Component Analysis

In [30]:
target2 = target.astype('category')

In [31]:
target2 = target2.cat.codes

In [32]:
target2

0         6
1         6
2         6
3         2
4         2
         ..
547625    6
547626    6
547627    3
547628    3
547629    3
Length: 547630, dtype: int8

In [33]:
adata

,Unnamed: 0,CellID,Centre,barcode,is_cell,contig_id,high_confidence,length,chain,v_gene,...,Days_from_onset,time_after_LPS,Worst_Clinical_Status,Outcome,leiden,consensus,initial_clustering,study_id,AgeRange,Age
0,0,AAACCTGAGAAACCTA-MH9179824,Newcastle,AAACCTGAGAAACCTA-1,True,AAACCTGAGAAACCTA-1_contig_2,True,512,TRB,TRBV5-1,...,8,NaN,Moderate,Home,26,CD8,CD8,COVID-014,"(50, 59]",54
1,1,AAACCTGAGAAACCTA-MH9179824,Newcastle,AAACCTGAGAAACCTA-1,True,AAACCTGAGAAACCTA-1_contig_1,True,573,TRA,TRAV8-4,...,8,NaN,Moderate,Home,26,CD8,CD8,COVID-014,"(50, 59]",54
2,2,AAACCTGAGAACAATC-MH9143324,Newcastle,AAACCTGAGAACAATC-1,True,AAACCTGAGAACAATC-1_contig_1,True,635,TRB,TRBV19,...,16,NaN,Moderate,Home,25,gdT,gdT,COVID-029,"(20, 29]",26
3,3,AAACCTGAGAACTCGG-MH8919329,Newcastle,AAACCTGAGAACTCGG-1,True,AAACCTGAGAACTCGG-1_contig_1,True,499,TRA,TRAV34,...,5,NaN,Death,Death,23,Treg,Treg,COVID-045,"(70, 79]",77
4,4,AAACCTGAGAACTCGG-MH8919329,Newcastle,AAACCTGAGAACTCGG-1,True,AAACCTGAGAACTCGG-1_contig_2,True,496,TRB,TRBV5-1,...,5,NaN,Death,Death,23,Treg,Treg,COVID-045,"(70, 79]",77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547625,547625,TTTGTCATCTTGCAAG-MH9143327,Newcastle,TTTGTCATCTTGCAAG-1,True,TTTGTCATCTTGCAAG-1_contig_2,True,486,TRB,TRBV4-1,...,8,NaN,Moderate,Home,19,CD8,CD8,COVID-062,"(50, 59]",52
547626,547626,TTTGTCATCTTGCAAG-MH9143327,Newcastle,TTTGTCATCTTGCAAG-1,True,TTTGTCATCTTGCAAG-1_contig_1,True,529,TRA,TRAV14/DV4,...,8,NaN,Moderate,Home,19,CD8,CD8,COVID-062,"(50, 59]",52
547627,547627,TTTGTCATCTTTAGTC-MH8919332,Newcastle,TTTGTCATCTTTAGTC-1,True,TTTGTCATCTTTAGTC-1_contig_1,True,605,TRA,TRAV12-1,...,Healthy,NaN,Healthy,Home,8,CD4,CD4,COVID-067,"(30, 39]",39
547628,547628,TTTGTCATCTTTAGTC-MH8919332,Newcastle,TTTGTCATCTTTAGTC-1,True,TTTGTCATCTTTAGTC-1_contig_2,True,512,TRB,TRBV11-3,...,Healthy,NaN,Healthy,Home,8,CD4,CD4,COVID-067,"(30, 39]",39
547629,547629,TTTGTCATCTTTAGTC-MH8919332,Newcastle,TTTGTCATCTTTAGTC-1,True,TTTGTCATCTTTAGTC-1_contig_3,True,654,TRB,TRBV19,...,Healthy,NaN,Healthy,Home,8,CD4,CD4,COVID-067,"(30, 39]",39

Neighborhood Graph

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_dummy, target2, test_size=0.33, random_state=42)

In [35]:
''''tl.paga(adata)
pl.paga(adata, plot=False)  # remove `plot=False` if you want to see the coarse-grained graph
tl.umap(adata, init_pos='paga')'''

"'tl.paga(adata)\npl.paga(adata, plot=False)  # remove `plot=False` if you want to see the coarse-grained graph\ntl.umap(adata, init_pos='paga')"

In [36]:
set_list = [X_train, X_test, y_train, y_test]
for i in set_list:
    print(i.shape)

(366912, 262)
(180718, 262)
(366912,)
(180718,)

In [38]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state = 42)
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=42)

In [39]:
y_pred = clf.predict(X_test)

In [40]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.806322557797231

Finding Marker Genes

In [ ]:
import umap
clusterable_embedding = umap.UMAP(
    n_neighbors=30,
    min_dist=0.0,
    n_components=2,
    random_state=42,
    verbose=True
).fit_transform(df_dummy)

UMAP(min_dist=0.0, n_neighbors=30, random_state=42, verbose=True)
Thu Apr 28 11:27:56 2022 Construct fuzzy simplicial set
Thu Apr 28 11:27:57 2022 Finding Nearest Neighbors
Thu Apr 28 11:27:57 2022 Building RP forest with 42 trees
Thu Apr 28 11:28:13 2022 NN descent for 19 iterations
	 1  /  19
	 2  /  19
	 3  /  19
	 4  /  19
	 5  /  19
	 6  /  19
	Stopping threshold met -- exiting after 6 iterations
Thu Apr 28 11:28:54 2022 Finished Nearest Neighbor Search
Thu Apr 28 11:29:02 2022 Construct embedding